<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCOsgfAQHSyzjH9fl3aRoZRZt2nlyRYdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>507975494476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courseApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>course-app-5eda4</string>
	<key>STORAGE_BUCKET</key>
	<string>course-app-5eda4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507975494476:ios:5379773a1752b0b0d0bde9</string>
</dict>
</plist>